# 仮想環境
.venv/

# Jupyter関連
.ipynb_checkpoints/

# サンプル
sample/

# Pythonビルド/配布関連
*.egg-info/
build/
dist/
**/__pycache__/**

# ElasticKernel固有
.elastic_kernel/

# claude
.claude/

# 実験用
logs/

# 環境変数
.env

.checkpoint*/

.workspace/*
!.workspace/001.ipynb
!.workspace/002.ipynb
!.workspace/003.ipynb
!.workspace/004.ipynb
.criu/
.workspace/
